{% extends 'base.html.twig' %}
{% block title %}Evènements{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid container_position pl-0 pr-0">
        <div class="title-shadow mt-5 mb-5">
            <div class="text-center typewriter container-fluid">
                <p class="pb-1 pt-3">Evènements</p>
            </div>
        </div>
        <div class="container-content">
            <div id="caleandar" class="ml-auto mr-auto text-center"></div>
            <div class="row">
                    {% for event in events %}
                        {% if event.enabled == 1 %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-around">
                            <div class="eventCard p-3 mt-5">
                                <fieldset class="border p-3">
                                    <legend class="w-auto">{{ event.title }}</legend>
                                    <div>
                                        <div class="eventCard__img">
                                            <img src="{{ asset('/images/event/'~event.image) }}" alt="Image evenement P A D">
                                        </div>
                                        <div class="eventCard__block pb-0">
                                            <p class="eventCard__h1 m-2">{{ event.title }}</p>
                                            <p class="eventCard__h2 m-3">{{ event.beginAt|format_datetime('full', 'short', locale='fr') }}</p>
                                            <div class="eventCard__block__p m-3">
                                                <p>{{ event.content }}</p>
                                            </div>
                                            <div class="eventCard__bottom m-3">
                                                <p class="eventCard__h2">{{ event.place }}</p>
                                                <a href="{{ asset('/pdf/event/'~event.pdf) }}">Lien pdf du programme</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/caleandar.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}