{% extends 'base.html.twig' %}

{% block title %}Nous Alerter{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid container_position pl-0 pr-0">
        <div class="title-shadow mt-5 mb-5">
            <div class="text-center typewriter container-fluid">
                <p class="pb-1 pt-3">Besoin d'aide? <br> Nous Alerter</p>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 d-flex justify-content-around h-75">
                <div class="contact-form ml-auto mr-auto">
                    {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="form-group row m-3">
                        <label class="control-label col-sm-3" for="fname">Votre Nom:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label class="control-label col-sm-3" for="fname">Email</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label class="control-label col-sm-3" for="fname">message</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label class="control-label col-sm-3" for="fname">discrimination</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.discrimination, {'attr': {'class': 'form-control '}}) }}
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <label class="control-label col-sm-3" for="fname">domain</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.domain, {'attr': {'class': 'form-control '}}) }}
                        </div>
                    </div>

                    <div class="form-group row m-4">
                        <div class="col-sm-4 offset-sm-4">
                            {{ form_widget(form.send, {'attr': {'class': 'form-control btn btn-blueB btn-size'}}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}