{% extends 'base.html.twig' %}
{% block title %}Informations{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid container_position pl-0 pr-0 h-100">
        <div class="title-shadow mt-5 mb-5">
            <div class="text-center typewriter container-fluid">
                <p class="pb-1 pt-3">Informations</p>
            </div>
        </div>
        <div class="ui-widget p-5 mr-auto ml-auto text-center">
            <label for="autocomplete" class="pr-2 h2">Recherche Annuaire associations: </label>
            <input type="text" placeholder="recherche" name="structure" id="autocomplete" class="pl-1"/>
            <div id="result" class="w-50 p-5 mt-5 mb-5 ml-auto mr-auto"></div>
        </div>
        <div id="network" class=" text-center">
            <div class="row m-auto ">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="box box-3 mt-5 mb-5">
                        <a  href="{{ path('contact_action')}}" target="_blank">
                            <i class="fas fa-6x fa-envelope-square icons pt-3"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="box box-4 mt-5 mb-5">
                        <a href="#" target="_blank">
                            <i class="fab fa-6x fa-twitter icons pt-3"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="box box-5 mt-5 mb-5">
                        <a href="#" target="_blank">
                            <i class="fab fa-6x fa-facebook icons pt-3"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/info.js') }}"></script>
{% endblock %}