/* CALENDRIER */
#caleandar{
  height: 410px;
}
.cld-main {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  border:5px solid $colorM;
  @include shadow(general);
}
.cld-main a {
  color: $colorBtm;
}
.cld-main svg {
  fill: $colorBtm;
}
.cld-datetime {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;
  overflow: hidden;
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  color: $colorBtm;
  border: 1px solid $colorBtm;
}
.cld-datetime .today {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}
.cld-nav {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.cld-nav:hover {
  cursor: pointer;
}
.cld-nav:hover svg {
  fill: $colorBtm;
}
.cld-rwd {
  float: left;
}
.cld-fwd {
  float: right;
}
.cld-nav svg:hover {
}
.cld-labels{
  background-color: $colorM;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.cld-days {
  border: 1px solid $colorBtm;
}
.cld-labels,
.cld-days {
  padding-left: 0;
  margin-bottom: 0;
}
.cld-label,
.cld-day {
  box-sizing: border-box;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}
.cld-day {
  border: 1px solid #eee;
}
.cld-day.today .cld-number {
  background: #eee;
  color: $colorBtm;
}
.cld-day.disableDay {
  opacity: 0.5;
}
.cld-day.nextMonth,
.cld-day.prevMonth {
  opacity: 0.33;
}
.cld-number {
  position: relative;
  margin: 0;
  padding: 10px;
}
.cld-title {
  position: absolute;
  z-index: 5;
  display: none;
  top: 35px;
  left: 0;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}
.cld-number:hover .cld-title {
  display: block;
}
.cld-title::before {
  content: "";
  position: absolute;
  top: -7.5px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;

  border-bottom: 7.5px solid #ccc;
}
.cld-number.eventday {
  font-weight: bold;
  color: $colorM;
  background-color: $colorBtm;
  border-radius: 50%;
}
.cld-number.eventday:hover {
  cursor: pointer;
  background: #eee;
  color: $colorBtm;
}
.today .cld-number.eventday:hover {
  background: #005eff;
}
