/*EVENT*/
.eventCard {
  @include shadow(card);
  @include radiusBtmL;
  border: 5px solid $colorBtm;
  width: 100%;
  height: auto;
  background-color: #fff;
  &__img img{
    display: block;
    width: 100%;
    margin-bottom: 3%;
  }
  &__h1{
    font-weight:bold;
    font-size: 1.5em;
  }
  &__h2{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
  }
  &__h3{
    line-height: 0;
    font-size: 0.8em;
    padding-top: 10px;
  }
  & fieldset {
    height: auto;
  }
  &__block {
    border: 2px solid $colorM;
    height: 480px;
  }
  &__block__p {
    overflow: auto;
    height: 200px;
    padding-top: 10px;
    border-bottom: 0.5px solid $colorBtm;
    border-top: 0.5px solid $colorBtm;
  }
}