.yellowMenu {
  z-index: 999;
  width: 100vw;
  height: 300px;
  background-color: $colorM;
  position: absolute;
  top:-150px;
  left: 0;
  transform:skewY(176deg);
  transition: 0.2s;
  @include shadow(bottom);
  &-open {
    top: -100px;
    transition: 0.2s;
    transform:skewY(180deg);
  }
}

/* Button */
.btn-position {
  position: absolute;
  z-index: 999;
  top: 65px;
  left: 2%;
}
.svgBtnMenu {
  width: 70px;
  height: 70px;
  #top, #middle, #bottom {
    transition: 0.3s;
    stroke: black;
  }
  #top {
    transform: translateY(-80px);
  }
  #bottom {
    transform: translateY(80px);
  }
  &-open {
    opacity: 1 !important;
    #top, #middle, #bottom {
      transition: 0.3s;
      stroke: $colorBtm;
    }
    #top {
      transform: translateY(0) rotate(45deg);
      transform-origin: center center;
    }
    #middle {
      opacity: 0;
    }
    #bottom {
      transform: translateY(0) rotate(-45deg);
      transform-origin: center center;
    }
  }
}
//.close {
//  opacity: 1 !important;
//  #top,
//  #middle,
//  #bottom {
//    transition: 0.3s;
//    stroke: $colorBtm;
//  }
//  #top {
//    transform: translateY(0) rotate(45deg);
//    transform-origin: center center;
//  }
//  #middle {
//    opacity: 0;
//  }
//  #bottom {
//    transform: translateY(0) rotate(-45deg);
//    transform-origin: center center;
//  }
//}
.navigate {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -0%);
  z-index: 999;
  font-size: 1.5em;
  transition: 0.3s;
  opacity: 0;
  &-open{
    top: 6%;
    transition: 0.3s;
    opacity:1;

  }
}
.nav-item {
  background-color: white;
  border-radius: 10px;
  border: 3px solid $colorBtm;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.145, 1);
  &:hover {
    transform: scale(1.1, 1.1);
    @include shadow(general);
  }
}
.nav-link {
  font-weight: bold;
  color: $colorBtm;
  padding: 30px !important;
  &:hover{
    color: $colorBtm;
    text-shadow: 1px 1px $colorM;
  }
}
/*ICON SVG */
.svg_color{
  fill: $colorBtm;
  stroke: $colorBtm;
  &:hover{
    fill: black;
    stroke: black;
  }
}
.logPosition{
  top: 400px;
}
.icon{
  z-index: 999;
  position:absolute;
  right:2%;
  top:-150px;
  transition: 0.3s;
  &-open{
    top: 40px;
    transition: 0.3s;
  }
}
.btnAccess svg {
  width: 70px;
  height: 70px;
}