.jssocials-share-link {
  border-radius: 50% !important;
  margin-top: 10px;
}
input::placeholder {
  font-size: 0.8em !important;
}
.btn-size {
  font-size: 2em !important;
  font-weight: bold !important;
}