#network {
  background-color: #fff;
  border-bottom: 5px solid $colorBtm;
  border-top: 5px solid $colorBtm;
}
.box{
  display: inline-block;
  width: 150px;
  height: 140px;
  border: 5px solid hsl(198, 64%, 41%);
  border-radius: 15px;
  background: hsl(48, 98%, 50%);
  transform-style: preserve-3d;
  transition:
          background ease-in-out .2s,
          box-shadow ease-in-out .2s;
}
.box:hover{
  box-shadow: 0 4px 3px rgba(255, 255, 255, 0.70);
  text-shadow: 3px 3px 1px #000;
  border: 5px solid hsl(48, 98%, 50%);
}

.box .icons {
  transform: translateZ(30px);
}
.box-3:hover{
  background: black;
}
.box-4:hover{
  background: #1dadea;
}
.box-5:hover{
  background: #4267b2;
}
.icons {
  color: hsl(198, 64%, 41%);
}
.fa-envelope-square:hover, .fa-twitter:hover, .fa-facebook:hover {
  color: #fff;
}