$colorM: hsl(48, 98%, 50%);
$colorBtm: hsl(198, 64%, 41%);
$colorShadow: hsl(0, 0%, 15%);
$colorPurple: hsl(283, 70%, 58%);
/* ajout de nouveaux thémes couleurs dans Bootstrap */
$theme-colors: (
        "yellowM": $colorM,
        "blueB": $colorBtm
);
/* ajout des nouveaux thémes à la classe btn- */
@each $key,$color in $theme-colors {
  .btn-#{$key} {
    background-color: $color;
  }
}
/* Mise en place de mixin */
/* Mixin box-shadow */
@mixin shadow($val){
  @if $val == general {
    box-shadow: -2px 2px 5px 0px $colorShadow;
  }
  @else if $val == card {
    box-shadow: 15px 15px 7px 0 rgba(0,0,0, 0.4);
  }
  @else if $val == bottom {
    box-shadow: 0 15px 15px -15px $colorShadow;
  }
  @else if $val == top {
    box-shadow: inset 0 15px 10px -15px $colorShadow;
  }
  @else if $val == inset {
    box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.51);
  }
}
/* Mixin border-radius */
@mixin radiusBtmL {
  border-radius: 0 0 0 15px;
}
@font-face {font-family: "ActaPosterW01-Regular"; src: url("//db.onlinewebfonts.com/t/2f4b0e58eb39868d3fad42ed32abdd38.eot"); src: url("//db.onlinewebfonts.com/t/2f4b0e58eb39868d3fad42ed32abdd38.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2f4b0e58eb39868d3fad42ed32abdd38.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2f4b0e58eb39868d3fad42ed32abdd38.woff") format("woff"), url("//db.onlinewebfonts.com/t/2f4b0e58eb39868d3fad42ed32abdd38.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2f4b0e58eb39868d3fad42ed32abdd38.svg#ActaPosterW01-Regular") format("svg"); }