@import "variable";
@import "menu";
@import "calendrier";
@import "event";
@import "shareButton";
@import "socialNetwork";
@import "footer";
*{
    padding:0;
    margin:0;
}
.bloc-info{
    border-bottom: 5px solid $colorBtm;
}
.textPres {
    border-radius: 15px;
}
.imgperso {
    width: 500px;
}
.colorSlogan {
    color: red;
}
.presentation {
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    border: 0.5px solid rgba(1,1,1, 0.2);
    display: inline-block;
    margin-top: 10%;
    font-size: 3em;
    line-height: 100px;
    @include shadow(card);
}
/* image, affiche, slogan par Chloé Bidet https://www.behance.net/bidetchloe */
.bgPhoto {
    background-image: url("../site/backgroundD.png");
    background-size: cover;
    @include shadow(top);
    border-bottom: 5px solid black;
    height: 100vh;
}

#result {
    border: 1px solid black;
    background-color: #fff;
    height: 300px;
}
.title-shadow {
    @include shadow(bottom);
    font-family: "ActaPosterW01-Regular", sans-serif;
    font-size: 3em;
    color: $colorBtm;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 0.5px solid rgba(0,0,0,0.2);

}
.title-color {
    font-family: "ActaPosterW01-Regular", sans-serif;
    font-size: 3em;
    color: $colorBtm;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 10px solid $colorM;
}
.typewriter{
    overflow: hidden;
    white-space: nowrap;
    animation:
            typing 2.5s steps(40, end);
    & p{
        text-shadow: 1px 1px $colorM, 2px 2px $colorM, 3px 3px $colorM, 4px 4px $colorM, 5px 5px $colorM;
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.container_position{
    padding-top: 150px;
    padding-bottom: 150px;
    background: rgb(252,202,3);
    background: linear-gradient(90deg, rgba(252,202,3,0.6993172268907564) 0%, rgba(255,255,255,1) 50%, rgba(38,131,171,0.7161239495798319) 100%);
}
.container-content{
    padding: 0 5%;
}
@media screen and (max-width: 992px) {
    .yellowMenu {
        height: 450px;
        top: -250px;
        &-open {
            height: 700px !important;
            border-radius: 0 0 25px 25px;
        }
    }
    .icon{
        z-index: 999;
        left: 85%;
        top:-150px;
        transition: 0.3s;
        &-open{
            top: 40px;
            transition: 0.3s;
        }
    }
    .container_position{
        top: 200px;
    }
    .svg_color{
        fill: $colorBtm;
        stroke: $colorBtm;
        &:hover{
            fill: black;
        }
    }
    .navigate #navbarNav {
        text-align: center;
    }
    .nav-item {
        margin: 3%;
    }
    .nav-link{
        padding: 10px !important;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .nav-link{
        padding: 20px !important;
    }
    .nav-item{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
    }
    .title-shadow{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 992px) {
    .blueBottom {
        clip-path: polygon(0% 100%, 100% 80%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .bgPhoto {
        height: 60vh;
    }
    .presentation{
        width: 90%;
        font-size: 2em;
        line-height: 50px;
        margin-top: 10%;
    }
    .imgperso {
        width: 100%;
    }
    .icon {
        display:none;
    }
    .cld-main{
        width: 300px;
    }
    .btn-position{
        top: 40px;
        left: 5%;
    }
    .svgBtnMenu{
        width: 60px;
    }
    .title-shadow{
        font-size: 2em;
    }
    .eventCard {
        width: 90%;
    }
    .blueBottom {
        display: none;
    }
}
@import "~bootstrap/scss/bootstrap";
