{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ parent() }}
    {% set lastId = events | length -1 %}
    <div class="container-fluid container_position pl-0 pr-0">
        <div class="title-shadow mt-5">
            <div class="text-center typewriter container-fluid">
                <p class="pb-1 pt-3 h1">Accueil</p>
            </div>
        </div>

        <div class="bgPhoto text-center">
            <div class=" mr-auto ml-auto d-flex justify-content-around">
                <h1 class="presentation">Lutte anti Discriminations <br> La Ciotat. <br>Faites sauter les <br> <span class="colorSlogan">PR&#201;JUG&#201;S</span> </h1>
            </div>
        </div>
        <div class="title-color">
            <div class="text-center typewriter container-fluid">
                <p class="pb-1 pt-3 h1">Notre Mission <br> au quotidien</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-around mr-auto ml-auto p-2 align-items-center bloc-info">
            <div class="textPres m-3 bg-white p-3">
                <fieldset class="border p-3"><legend class="w-auto bg-yellowM p-2">Lorem Ipsum</legend>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </fieldset>
            </div>
            <div class="imgPres m-3"><img class="imgperso" src="{{ asset('images/imgSite/diversite_1.png') }}" alt="dessin personnages multi-color"></div>
        </div>
        <div class="title-color">
            <div class="text-center typewriter container-fluid">
                <p class="pb-1 pt-3 h1">Prochain <br> RDV</p>
            </div>
        </div>
        {% if events|length - 1 %}
            <div class="mr-auto ml-auto mb-5 d-flex justify-content-around">
                <div class="eventCard p-3 m-3 col-10 col-md-8">
                    <fieldset class="border p-3">
                        <legend class="w-auto">{{ events[lastId].title }}</legend>
                        <div>
                            <div class="eventCard__img">
                                <img src="{{ asset('/images/event/'~events[lastId].image) }}" alt="Image evenement P A D">
                            </div>
                            <div class="eventCard__block pb-3">
                                <p class="eventCard__h1 m-2">{{ events[lastId].title }}</p>
                                <p class="eventCard__h2 m-3">{{ events[lastId].beginAt|format_datetime('full', 'short', locale='fr') }}</p>
                                <div class="eventCard__block__p m-3">
                                    <p>{{ events[lastId].content }}</p>
                                </div>
                                <div class="eventCard__bottom m-3">
                                <p class="eventCard__h2  ">{{ events[lastId].place }}</p>
                                <a href="{{ asset('/pdf/event/'~events[lastId].pdf) }}">Lien pdf du programme</a>
                                </div>
                            </div>
                            <div id="shareRoundIcons"></div>
                        </div>
                    </fieldset>
                </div>
            </div>
        {% endif %}
        <div id="network" class=" text-center container-fluid">
            <div class="row m-auto ">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="box box-3 mt-5 mb-5">
                        <a  href="{{ path('contact_action')}}" target="_blank">
                            <i class="fas fa-6x fa-envelope-square icons pt-3"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="box box-4 mt-5 mb-5">
                        <a href="#" target="_blank">
                            <i class="fab fa-6x fa-twitter icons pt-3"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="box box-5 mt-5 mb-5">
                        <a href="#" target="_blank">
                            <i class="fab fa-6x fa-facebook icons pt-3"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("#shareRoundIcons").jsSocials({
            showLabel: false,
            showCount: false,
            shares: ["email", "twitter", "facebook"]
        });
    </script>
{% endblock %}