<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link rel="stylesheet" href="{{ asset('js/jquery-ui.min.css')}}">
            <link rel="stylesheet" href="{{ asset('jssocials/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{ asset('jssocials/jssocials.css')}}">
            <link rel="stylesheet" href="{{ asset('jssocials/jssocials-theme-classic.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block menu %}
                <div class="container-fluid fixed-top" id="menuNav">
                    <!-- Fond jaune-->
                    <div class="yellowMenu pt-5 mb-5 "></div>
                    <!--btn menu-->
                    <div class="btn-position">
                        <svg id="openMenu" class="svgBtnMenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                            <path id="top" fill="none" stroke-linecap="round" stroke-width="50" d="M10,150 L290,150" />
                            <path id="middle" fill="none" stroke-linecap="round" stroke-width="50" d="M10,150 L290,150" />
                            <path id="bottom" fill="none" stroke-linecap="round" stroke-width="50" d="M10,150 L290,150" />
                        </svg>
                    </div>

                    <nav class="nav navigate position-fixed">
                        <div id="navbarNav">
                            <ul class="navbar-nav d-flex flex-lg-row flex-md-column justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('event_action') }}">Evènements</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('infos') }}">Informations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('declaration_action') }}">Alerter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact_action')}}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--bouton access-->
                    <div class="icon">
                        <div class="btnAccess ">
                            <svg  class="mt-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px" width="95.926px" height="95.926px" viewBox="0 0 95.926 95.926"
                                  xml:space="preserve">
                                <a href="{{ path('app_login') }}">
                                    <g>
                                        <g class="svg_color">
                                            <path  d="M47.893,47.221c11.768,0,21.341-10.592,21.341-23.611S59.66,0,47.893,0C36.125,0,26.55,10.592,26.55,23.61
                                                C26.55,36.63,36.125,47.221,47.893,47.221z" />
                                            <path
                                                    d="M72.477,44.123c-1.244-0.269-2.524,0.272-3.192,1.355C61.65,57.847,49.34,58.204,47.962,58.204
                                                s-13.687-0.357-21.32-12.722c-0.67-1.085-1.953-1.628-3.198-1.354C6.868,47.777,2.497,72.798,3.789,93.115
                                                c0.101,1.58,1.411,2.811,2.994,2.811h82.36c1.583,0,2.894-1.23,2.993-2.811C93.429,72.775,89.057,47.74,72.477,44.123z" />
                                        </g>
                                    </g>
                                </a>
                            </svg>
                        </div>
                    </div>
                </div>


            {% endblock %}

        {% endblock %}
        {% block footer %}
            <div class="blueBottom"></div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="https://kit.fontawesome.com/6795e6011e.js"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/vanilla-tilt.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('jssocials/jssocials.min.js') }}"></script>
            <script>VanillaTilt.init(document.querySelectorAll(".box"),{
                    max: 30,
                    speed: 300,
                    scale: 1,
                    transition: true,
                    easing: "cubic-bezier(.03,.98,.52,.99)",
                    perspective: 600,
                    glare: false
                });</script>

        {% endblock %}
    </body>
</html>
