{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block new_action %}
    <div class="button-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
                {% if _action.icon %}<i class="fa fa-fw fa-{{ _action.icon }}"></i>{% endif %}
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
            </a>
        {% endif %}
    </div>
{% endblock new_action %}